<!DOCTYPE html>
<html>
    <style>
        canvas{display:block; width:80%; object-fit: contain;}
    </style>
    <body>
<div>
    <canvas id="Monday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Tuesday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Wednesday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Thursday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Friday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Saturday" width="1500" height="100" style="border:1px solid grey"></canvas>
    <canvas id="Sunday" width="1500" height="100" style="border:1px solid grey"></canvas>

    <script type = text/javascript src="../static/js/bars.js"> </script>
</div>
    </body>
</html>