<!DOCTYPE html>
<!--This is a comment-->
<html>
    <table name = "Employee_table">
            <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Age</th>
            <th>Start</th>
            <th>End</th>
            </tr>
            <tr>
                
            </tr>
    </table>
    <script>
            // import the names and convert it to an array using JSON
            var names = '{{ info | tojson}}';
            names = JSON.parse(names);

            const select = document.getElementById('namesInput');

            // This is that input field
            function populateList(arr) {
            arr.forEach(country => {
            var option = document.createElement("option");
            option.innerHTML = country;
            select.appendChild(option);
            });
            }

            populateList(names);

                                </script>
    </script>
</html>