<!DOCTYPE html>
<!--This is a comment-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <title>Login</title>
    </head>
    <body>
        <script>
        var meeting_list = {{ meeting_list | tojson}};
	    meeting_list = JSON.parse(meeting_list);
        for (let i = 0; i < meeting_list.length; i++){
        meeting_list[i] = JSON.parse(meeting_list[i]);
        }
	    start_time = meeting_list[0].start;
        employee_array = meeting_list[0].attendies;
        var a = 1;
        </script>
        <div id = "box">
            <h1>Login</h1>
                <!--Insert a Link [title = text in hover] [target = open up in new page]-->
                <!--<a 
                href = "http://www.google.com"
                target = "_blank"
                title = "goes to Google">
                Click this link
                </a>-->
            <form action = "/login" , method="POST">
                <!-- </form> Todo: Tony (Format this login page to look more modern)-->
                <label for="username">Username:</label><br>
                <input type="text" id = "username" name = "username" placeholder = "username"> <br>
                <label for="Password">Password:</label><br>
                <input type="text" id = "password" name = "password"  placeholder = "password"> <br>

                <input type="Reset"> <br>
                <input type="Submit">
                <!-- Todo: John (send a signal to the backend, a function in the backend will check with
                the current people and see if the username and password are correct, these will be the 
                function arguments)-->
            </form>    
    <!--To add pictures put it in root of "website"-->
    <!--/par keeps the formatt of a paragraph-->
        </div>
    </body>
</html>