<!DOCTYPE html>
<!--This is a comment-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Login</title>
    </head>
    <body>
        <div id = "box">
            
            <h1 style="padding: 10px;">Login</h1>
            <p6 class = "error"></p6>
            <script>
                window.onload = function() {
                document.body.className += " loaded";
            }
            var valid= {{ valid | tojson}};
            if (valid == "0"){
                response = document.querySelector(".error");
                error_message = `<div>Invalid Username or Password </div>`;
                response.innerHTML = error_message;
            }
            </script>
            <form action = "/login" , method="POST" class = "login">
                <!-- </form> Todo: Tony (Format this login page to look more modern)-->
                <label for="username">Username:</label><br>
                <input type="text" id = "username" name = "username" placeholder = "username" style="text-align: center; padding: 5px; border-radius: 15px; border: none;"> <br>
                <label for="Password">Password:</label><br>
                <input type="password" id = "password" name = "password"  placeholder = "password" style="text-align: center; padding: 5px; border-radius: 15px; border: none;"> <br>

                <input type="Submit" style="width: 100px;">
                <input type="Reset" style="width: 100px;">
                
            </form>
        </div>
    </body>
</html>