<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Enter Meeting/People</title>
    <style>
    #div1 {
        display: inline-block;
        width:150px;
    }
    #div2 {
        vertical-align:top;
        display: inline-block;
        width:150px;
    }</style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>
    <!--                'start' : str(i.Start),
                        'end' : str(i.End),
                        'Room_number': i.Room_number,
                        'Description':i.Description,
                        'employee_number' : len(i.People.employees),
                        'attendies' : employee_list
    function for importing all meetings into javascript
    -->
    <script>
        var meeting_list = {{ meeting_list | tojson}};
	    meeting_list = JSON.parse(meeting_list);
        for (let i = 0; i < meeting_list.length; i++){
        meeting_list[i] = JSON.parse(meeting_list[i]);
        }
	    start_time = meeting_list[0].start;
        employee_array = meeting_list[0].attendies;
        var a = 1;
    </script>

    <script>
        a = 0;
        var title = "";
        var alert = '{{ alert | tojson}}';
        alert = JSON.parse(alert);
        alert_type = alert[0];
        alert_message = alert[1];
        if (alert_type != -1) {
        switch(alert_type){
        case 1:
        title = "Room Conflict";
        break

        case 2:
        title = "Employee time Conflict";
        break

        case 3:
        title = "Employee Working hours Conflict";
        break
       
        case 4: 
        title = "Date Conflict";
        break

        case 5:
        title = "Meeting too long"
        break

        case 6:
        title = "Invalid Age";
        break

        case 7:
        break
        }
        if (alert_type <= 3){
        swal.fire({
            title: title,
            text: alert_message,
            icon: 'warning',
            allowEscapeKey: 'true',
            showConfirmButton: 'true',
            showDenyButton: 'true',
            showCancelButton: 'true',
            confirmButtonText: 'Reschedule',
            denyButtonText: 'Accept Conflict',
            cancelButtonText: 'Cancel Meeting'
        }).then((result) => {
            if (result.isConfirmed) {
                a = 1;
            }
            else if (result.isDenied) {
                a = 2;
            }
            else if (result.isCanceled) {
                a = 3;
            }
            $.ajax({ 
                url: '/return', 
                type: 'POST', 
                data: {'response' : a},
                success: function(response){ 
                $('#main').text(response)} 
                })
        })
    }
    if (alert_type >= 4){
        swal.fire({
            title: title,
            text: alert_message,
            icon: 'warning',
            allowEscapeKey: 'true',
    });
    }
}
    </script>
    <div id = "mainbox">
        <div class="container">
            <div class="calendar">
                <div class ="month"> 
                    <i class="fa fa-angle-left prev"></i>
                    <div class = "date">
                        <h1></h1>
                        <p></p>
                    </div>
                    <r class="fa fa-angle-right next"></r>
                </div>
                    <div class = "weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                <div class = "days">
                </div>
            </div>
        </div>
        <div class = "menus">
            <div id = "text">
                <div class = "tab">
                    <button class = "tablinks" onclick="openTab(event, 'addmenu')">Schedule a meeting</button>
                    <button class = "tablinks" onclick="openTab(event, 'editmenu')">Edit/View Information</button>
                </div>
                <script>
                    function openTab(evt, tabName) {
                      var i, tabcontent, tablinks;
                      tabcontent = document.getElementsByClassName("tabcontent");
                      for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                      }
                      tablinks = document.getElementsByClassName("tablinks");
                      for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                      }
                      document.getElementById(tabName).style.display = "block";
                      evt.currentTarget.className += " active";
                    }
                </script>
                <div id = "addmenu" class = "tabcontent">
                    <!--form for adding meeting info-->
                    <h2>Schedule a Meeting</h2>
                    <form action="/input_meeting" method="POST" class="mt-3" id = "formID">
                        <div class="popup" onsubmit="myFunction()">
                            <span class="popuptext" id="myPopup"></span>
                          </div>
                    
                        <!-- Participant selection  -->
                        <div class="form-group">
                            <div id = "selection">
                                <select name="select" list="namesDataList" id="namesInput"  multiple multiselect-search = "true" multiselect-hide-x = "true" >
                                </select>
                                <script>
                                    // import the names and convert it to an array using JSON
                                    var names = '{{ info | tojson}}';
                                    names = JSON.parse(names);
                                    
                                    const select = document.getElementById('namesInput');
                            
                                    // This is that input field
                                    function populateList(arr) {
                                        arr.forEach(country => {
                                        var option = document.createElement("option");
                                        option.innerHTML = country;
                                        select.appendChild(option);
                                    });
                                    }
                                    populateList(names);
                            
                                    </script>
                                        <script src="{{ url_for('static',filename='js/multiselect-dropdown.js') }}"> 
                                    </script>
                            </div>
                        </div>
                        <!-- Time selection  -->
                        <div class = "abc">
                            <h3 class="mt-4">Meeting Times</h3>
                            <div class="form-group1">
                                
                                    <label for="Meeting_Start_Time">Starts at</label> <br>
                                    <input type="datetime-local" class="form-control1" id="Start" name="Start" required> <br>
                                   
                                    <label for="Meeting_End_Time">Ends at</label><br>
                                    <input type="datetime-local" class="form-control2" id="End" name="End" required>
                                
                            </div>
                        <!-- Meeting Room selection  -->
                        <div class = "selection1" id = "selection"></div>
                            <label class = "meeting_room" for="Room_select">Meeting Room</label> <br>
                            <select class = "Room_select" name="Room_select" list="Room_list" id="Room_select"> 
                            <option value ="-1" >--Select a Meeting Room--</option>
                            </select>
                            <script>
                                // import the names and convert it to an array using JSON
                                var rooms = '{{ rooms | tojson}}'
                                rooms = JSON.parse(rooms);
                                
                                const Room_select = document.getElementById('Room_select');
                        
                                // This is that input field
                                function populateList(arr) {
                                    arr.forEach(country => {
                                    var option = document.createElement("option");
                                    option.innerHTML = country;
                                    Room_select.appendChild(option);
                                });
                                }
                                populateList(rooms);
                            </script>
                             <br>
                             <label for="Meeting_description">Description:</label><br>
                             <input type="text" class="form-control3" id="Meeting_description" name="Meeting_description"><br> </input>
                             <button type="submit" class="btn btn-success">Schedule Meeting</button>
                        </div>
                        
                    </form>
                    <script>
                        function myFunction() {
                          const inpObj = document.getElementById("id1");
                          if (!inpObj.checkValidity()) {
                            document.getElementById("demo").innerHTML = inpObj.validationMessage;
                          }
                        }
                    </script>
                    <!--for for adding people-->
                    
                                    <!-- A button to open the popup form -->
                <button class="open-button" onclick="openForm()">Open Form</button> 
                </div>
                <div id = "editmenu" class = "tabcontent">
                    <h2>Meeting:</h2>
                    <p>Room Number:<p>
                    <h3>People:</h3>
                    
                    <div class="form-group">   
                        <label for="Meeting_Start_Time">Start:</label>
                        <input type="time" class="form-control" id="Start" name="Start" required>
                
                        <label for="Meeting_End_Time">End:</label>
                        <input type="time" class="form-control" id="End" name="End" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>  
                    <button id = "remove" type="submit" class="btn btn-success">Remove</button> 

                    <h2>Select Person</h2>
                    <p>Date of Birth:</p>
                    <h3>Work Times</h3>
                   
                    <div class="form-group">     
                        <label for="Work_Start_Time">Start:</label>
                        <input type="time" class="form-control" id="Start" name="Start" required>
                
                        <label for="Work_End_Time">End:</label>
                        <input type="time" class="form-control" id="End" name="End" required>
                    <div>
                    <button type="submit" class="btn btn-success">Submit</button>  
                    <button id = "remove" type="submit" class="btn btn-success">Remove</button> 
                </div>
            </div>
        </div>
    </div>
    <!-- The form -->
    <div class="form-popup" id="myForm">
        <form action="/input_Room" method = "POST" class="form-container">
            <h1>Add a Meeting Room</h1>

            <label for="Room Number"><b>Room Number</b></label>
            <input type="text" placeholder="Enter Room Number" name ="Room Number" required>

            <label for="Building Name"><b>Building</b></label>
            <input type="text" placeholder="Enter Building name" name = "Building">

            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        <script>
            function openForm() {
            document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
            document.getElementById("myForm").style.display = "none";
            }
        </script>
    </div>
        </div>
    <script src="/static/js/calendar_logic.js"> </script>
        <div class="container1"></div>
            <script src = /static/js/week_logic.js></script>
</body>