<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Enter Meeting/People</title>
    <style>
    #div1 {
        display: inline-block;
        width:150px;
    }
    #div2 {
        vertical-align:top;
        display: inline-block;
        width:150px;
    }</style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>
    <!--                'start' : str(i.Start),
                        'end' : str(i.End),
                        'Room_number': i.Room_number,
                        'Description':i.Description,
                        'employee_number' : len(i.People.employees),
                        'attendies' : employee_list
    function for importing all meetings into javascript
    -->
    <script>
        var meeting_list = {{ meeting_list | tojson}};
	    meeting_list = JSON.parse(meeting_list);
        for (let i = 0; i < meeting_list.length; i++){
        meeting_list[i] = JSON.parse(meeting_list[i]);
        }
	    start_time = meeting_list[0].start;
        employee_array = meeting_list[0].attendies;
        var a = 1;
    </script>

    <script>
        a = 0;
        var title = "";
        var alert = '{{ alert | tojson}}';
        alert = JSON.parse(alert);
        alert_type = alert[0];
        alert_message = alert[1];
        if (alert_type != -1) {
        switch(alert_type){
        case 1:
        title = "Room Conflict";
        break

        case 2:
        title = "Employee time Conflict";
        break

        case 3:
        title = "Employee Working hours Conflict";
        break
       
        case 4: 
        title = "Date Conflict";
        break

        case 5:
        title = "Meeting too long"
        break

        case 6:
        title = "Invalid Age";
        break

        case 7:
        break
        }
        if (alert_type <= 5){
        swal.fire({
            title: title,
            text: alert_message,
            icon: 'warning',
            allowEscapeKey: 'true',
            showConfirmButton: 'true',
            showDenyButton: 'true',
            showCancelButton: 'true',
            confirmButtonText: 'Reschedule',
            denyButtonText: 'Accept Conflict',
            cancelButtonText: 'Cancel Meeting'
        }).then((result) => {
            if (result.isConfirmed) {
                a = 1;
            }
            else if (result.isDenied) {
                a = 2;
            }
            $.ajax({ 
                url: '/input_meeting', 
                type: 'GET', 
                data: {'response' : a},
                success: function(response){ 
                $('#main').text(response)} 
                })
        })
    }
    if (alert_type > 5){
        swal.fire({
            title: title,
            text: alert_message,
            icon: 'warning',
            allowEscapeKey: 'true',
    });
    }
}
    </script>
    <div id = "mainbox">
        <div class="container">
            <div class="calendar">
                <div class ="month"> 
                    <i class="fa fa-angle-left prev"></i>
                    <div class = "date">
                        <h1></h1>
                        <p></p>
                    </div>
                    <r class="fa fa-angle-right next"></r>
                </div>
                    <div class = "weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                <div class = "days">
                </div>
            </div>
        </div>
        <div class = "menus">
            <div id = "text">
                <div class = "tab">
                    <button class = "tablinks" onclick="openTab(event, 'addmenu')">Add People</button>
                    <button class = "tablinks" onclick="openTab(event, 'editmenu')">Edit/View Information</button>
                </div>
                <script>
                    function openTab(evt, tabName) {
                      var i, tabcontent, tablinks;
                      tabcontent = document.getElementsByClassName("tabcontent");
                      for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                      }
                      tablinks = document.getElementsByClassName("tablinks");
                      for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                      }
                      document.getElementById(tabName).style.display = "block";
                      evt.currentTarget.className += " active";
                    }
                </script>
                <div id = "addmenu" class = "tabcontent">
                    <!--form for adding meeting info-->
                    <h2>Enter Meeting</h2>
                    <form action="/input_meeting" method="POST" class="mt-3" id = "formID">
                        <div class="popup" onsubmit="myFunction()">
                            <span class="popuptext" id="myPopup"></span>
                          </div>
                    
                        <!-- Participant selection  -->
                        <div class="form-group">
                            <div id = "selection">
                                <select name="select" list="namesDataList" id="namesInput"  multiple multiselect-search = "true" multiselect-hide-x = "true" >
                                </select>
                                <script>
                                    // import the names and convert it to an array using JSON
                                    var names = '{{ info | tojson}}';
                                    names = JSON.parse(names);
                                    
                                    const select = document.getElementById('namesInput');
                            
                                    // This is that input field
                                    function populateList(arr) {
                                        arr.forEach(country => {
                                        var option = document.createElement("option");
                                        option.innerHTML = country;
                                        select.appendChild(option);
                                    });
                                    }
                                    populateList(names);
                            
                                    </script>
                                        <script src="{{ url_for('static',filename='js/multiselect-dropdown.js') }}"> 
                                    </script>
                            </div>
                        </div>
                        <!-- Time selection  -->
                        <div>
                            <h3 class="mt-3">Meeting Time:</h3>
                            <div class="form-group">
                                
                                    <label for="Meeting_Start_Time">Start:</label>
                                    <input type="datetime-local" class="form-control" id="Start" name="Start" required> <br>
                                   
                                    <label for="Meeting_End_Time">End:</label>
                                    <input type="datetime-local" class="form-control" id="End" name="End" required>
                                
                            </div>
                            <label for="Meeting_description">Description:</label><br>
                            <input type="text" class="form-control" id="Meeting_description" name="Meeting_description"><br> </input>

                        <!-- Meeting Room selection  -->
                        <div id = "selection"></div>
                            <label for="Room_select">Meeting Room:</label>
                            <select name="Room_select" list="Room_list" id="Room_select"> 
                            <option value ="-1" >--Select a Meeting Room--</option>
                            </select>
                            <script>
                                // import the names and convert it to an array using JSON
                                var rooms = '{{ rooms | tojson}}'
                                rooms = JSON.parse(rooms);
                                
                                const Room_select = document.getElementById('Room_select');
                        
                                // This is that input field
                                function populateList(arr) {
                                    arr.forEach(country => {
                                    var option = document.createElement("option");
                                    option.innerHTML = country;
                                    Room_select.appendChild(option);
                                });
                                }
                                populateList(rooms);
                            </script>
                            <button type="submit" class="btn btn-success">Add Meeting</button>
                        </div>
                    </form>
                    <script>
                        function myFunction() {
                          const inpObj = document.getElementById("id1");
                          if (!inpObj.checkValidity()) {
                            document.getElementById("demo").innerHTML = inpObj.validationMessage;
                          }
                        }
                    </script>
                    <!--for for adding people-->
                    <h2>Add Person</h2>
                    <form action="/input_employee" method="post" class="mt-3">
                        <div class="form-group">
                            <label for="Name">Name:</label><br>
                            <input type="text" class="form-control" id="name" name="name" required><br>
                        </div>
                        <div class="form-group">
                            <label for="Age">Age:</label><br>
                            <input type="text" class="form-control" id="age" name="age" required><br>
                        </div>

                        <div class="form-group">
                            <label for="Password">Password:</label><br>
                            <input type="text" class="form-control" id="password" name="password" required><br>
                        </div>
                        <h3 class="mt-3">Work Time:</h3>

                        <label for="Work_Start_Time">Start:</label>
                        <input type="time" class="form-control" id="start_work" name="start_work" required>

                        <label for="Work_End_Time">End:</label>
                        <input type="time" class="form-control" id="end_work" name="end_work" required>
                        <br>
                        <button type="submit" class="btn btn-success">Add Person</button>    
                    </form>
                                    <!-- A button to open the popup form -->
                <button class="open-button" onclick="openForm()">Open Form</button>
                </div>

                <!--Editing Menu-->
                <div id = "editmenu" class = "tabcontent">
                    <h2>Meeting:</h2>
                        <div id = "selection">
                            <label for="Room_select1">Meeting Room:</label>
                            <select name="Room_select1" list="Room_list" id="Room_select1"> 
                            <option value ="-1" >--Select a Meeting Room--</option>
                            </select>
                            <script>
                                // import the names and convert it to an array using JSON
                                var rooms1 = '{{ rooms | tojson}}'
                                rooms1 = JSON.parse(rooms1);
                                
                                const Room_select1 = document.getElementById('Room_select1');
                        
                                // This is that input field
                                function populateList(arr) {
                                    arr.forEach(country => {
                                    var option = document.createElement("option");
                                    option.innerHTML = country;
                                    Room_select1.appendChild(option);
                                });
                                }
                                populateList(rooms);
                            </script>
                        </div>
                    <div class="form-group">   
                        <div style = "margin-top:10px;">
                            <label for="Meeting_Start_Time">Start:</label>
                            <input type="time" class="form-control" id="Start" name="Start" required>
                      
                            <label style = "margin-left:35px;" for="Meeting_End_Time">End:</label>
                            <input type="time" class="form-control" id="End" name="End" required>
                        </div>   
                    </div>
                    <h3>People:</h3>
                        <div id = "peoplebox" class = 'peoplebox'>
                                
                                <script>
                                    var meetingNames = employee_array;
                                    var i;

                                    let html_list = "";
                                    for(i = 0; i < meetingNames.length; i++)
                                    {
                                        html_list += `<ul> <div class = employee_item>${meetingNames[i] + "  x"}</div> </ul>`;
                                    }
                                    document.querySelector(".peoplebox").innerHTML = html_list;
                                </script>
                           
                                <!--For closing the people-->
                                <script>
                                    var closebtns = document.getElementsByClassName("employee_item");
                                    var i;
                                    
                                    for (i = 0; i < closebtns.length; i++) {
                                      closebtns[i].addEventListener("click", function() {
                                        closebtns[i] 
                                        this.parentElement.style.display = 'none';
                                      });
                                    }
                                </script>
                            
                        </div>
                    
                    <button type="submit" class="btn btn-success">Submit</button>  

                    <!--Displays the people in the current meeting-->
                    <h2>Select Person</h2>
                        <div id = "selection">
                            <label for = "select1"></label>
                            <select name="select1" list="namesDataList" id="namesInput1">
                            <option value ="-1" >--Select a Person--</option>
                            </select>
                            <script>
                                // import the names and convert it to an array using JSON
                                var names1 = '{{ info | tojson}}';
                                names1 = JSON.parse(names1);
                                
                                const select1 = document.getElementById('namesInput1');
                        
                                // This is that input field
                                function populateList(arr) {
                                    arr.forEach(country => {
                                    var option = document.createElement("option");
                                    option.innerHTML = country;
                                    select1.appendChild(option);
                                });
                                }
                                populateList(names);
                        
                            </script>
                            
                        </div>
                    <h3>Work Times</h3>
                   
                    <div class="form-group">     
                        <label for="Work_Start_Time">Start:</label>
                        <input type="time" class="form-control" id="Start" name="Start" required>
                
                        <label for="Work_End_Time">End:</label>
                        <input type="time" class="form-control" id="End" name="End" required>
                    <div>
                    <button type="submit" class="btn btn-success">Submit</button>  
                </div>
            </div>
        </div>
    </div>
    <!-- The form -->
    <div class="form-popup" id="myForm">
        <form action="/input_Room" method = "POST" class="form-container">
            <h1>Add a Meeting Room</h1>

            <label for="Room Number"><b>Room Number</b></label>
            <input type="text" placeholder="Enter Room Number" name ="Room Number" required>

            <label for="Building Name"><b>Building</b></label>
            <input type="text" placeholder="Enter Building name" name = "Building">

            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        <script>
            function openForm() {
            document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
            document.getElementById("myForm").style.display = "none";
            }
        </script>
    </div>
        </div>
    <script src="/static/js/calendar_logic.js"> </script>
        <div class="container1"></div>
            <script src = /static/js/week_logic.js></script>
</body>