head{
   

}

body{ 
    background-image: url(https://wallpaper.dog/large/20395458.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


    /*background: linear-gradient(skyblue, rgb(132, 83, 155));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;*/
}

h1{
    font-family: "OCR A Std, monospace";
}

p{
    font-family: "consolas";
    opacity: 1
}

#box{
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid;
    border-style: outset;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255,.3);
   
}

#button1{

    margin-top: 4px;
    border-radius: 8px;
}

#button2{
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    transition-duration: 0.4s;
}

#button2:hover {
    background-color: skyblue;
    color: white;
}

input[type=submit]{
    margin-top: 7px;
    background-color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    transition-duration: 0.4s;
}

input[type=submit]:hover{
    background-color: rgb(51, 240, 136);
    color: white;
}

input[type=reset]{
    margin-top: 15px;
    background-color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    transition-duration: 0.4s;
}

input[type=reset]:hover{
    background-color: rgb(255, 53, 53);  
    color: white;
}