head{
   

}

body{ 
    background-image: url(https://wallpaper.dog/large/20395458.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


    /*background: linear-gradient(skyblue, rgb(132, 83, 155));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;*/
}

h1{
    font-family: "OCR A Std, monospace";
}

p{
    font-family: "consolas";
    opacity: 1
}

#box{
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid;
    border-style: outset;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255,.3);
   
}

input[type=submit]{
    margin-top: 7px;
    background-color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    transition-duration: 0.4s;
}

input[type=submit]:hover{
    background-color: rgb(51, 240, 136);
    color: white;
}

input[type=reset]{
    margin-top: 15px;
    background-color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    transition-duration: 0.4s;
}

input[type=reset]:hover{
    background-color: rgb(255, 53, 53);  
    color: white;
}

/*main page*/

#mainbox{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-style: outset;
    width: 1600px;
    height: 1200px;
    background-color: rgb(255, 255, 255);

}
#div1 {
    display: inline-block;
    width:150px;
}
#div2 {
    vertical-align:top;
    display: inline-block;
    width:150px;
}
#h2{
   font-weight: 900;
   font-family: "sans-serif";
}
#menus{ 
    
    width: 400px;
    padding-bottom: 20px;
    border: none;
    border-radius: 25px;
    background-color: rgba(190, 193, 204, 0.774);
    margin-top: 400px;
    margin-left: 30px;
    
}



#text{
    margin-left: 10px;
    font-family: "consolas";
}

button[type=submit]{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(68, 158, 123);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}
button[type=submit]:hover{
  
    background-color: rgb(71, 121, 93);
    color: white;
}

.tab {
    overflow: hidden;
  }

/* Style the buttons inside the tab */
.tab button {
    margin-left: 20px;
    background-color: inherit;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #adb2bd;
  }
  


/* Name, Age, start time, end time */